body {

    font-family: 'Open Sans Condensed', Helvetica;
    font-size: 18px;
    font-weight:100;
    color:#333;
   	background-color: #eee;

}
div {
	padding: 10px 0;
}
img {
	display:block;
	margin: 0 auto;
	max-height: 20em;
	width: auto;
}
.full-screen {
	min-height: 100%;
}
.banner {
	padding: 0 100px;
}
.banner p {
	font-size: 40px;
	word-spacing: 40px;
	text-align: center;
}

.col-centered {
	float: none;
	margin: 0 auto;
}
.signup {
	text-align: center;
}
.signup a {
	font-size: 14px;
	border-color: rgb(196, 156, 66);
	background-color: #eee;
}


/* signup.php */

.info-member {
	padding-left: 25px;
	display: none;
}

.placeholder {
	color: darkgrey;
}

.unconfirmed {
	display: none;
}
.confirmation {

}
/* keyframes */

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
.m-scene .scene_element{
	-webkit-animation-duration: 0.25s;
	-moz-animation-duration:0.25s;
	animation_duration: 0.25s;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;

}

.m-scene .scene_element--fadeinright {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.m-scene.is-exiting .scene_element {
	-webkit-animation-direction: alternate-reverse;
	-moz-animation-direction: alternate-reverse;
	animation-direction:alternate-reverse;
}